.icon-blank{
	background:url('../images/blank.gif') no-repeat;
}
.icon-add{
	background:url('../images/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('../images/pencil.png') no-repeat;
}
.icon-remove{
	background:url('../images/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('../images/filesave.png') no-repeat;
}
.icon-cut{
	background:url('../images/cut.png') no-repeat;
}
.icon-ok{
	background:url('../images/ok.png') no-repeat;
}
.icon-no{
	background:url('../images/no.png') no-repeat;
}
.icon-cancel{
	background:url('../images/cancel.png') no-repeat;
}
.icon-reload{
	background:url('../images/reload.png') no-repeat;
}
.icon-search{
	background:url('../images/search.png') no-repeat;
}
.icon-print{
	background:url('../images/print.png') no-repeat;
}
.icon-help{
	background:url('../images/help.png') no-repeat;
}
.icon-undo{
	background:url('../images/undo.png') no-repeat;
}
.icon-redo{
	background:url('../images/redo.png') no-repeat;
}
.icon-back{
	background:url('../images/back.png') no-repeat;
}
.icon-sum{
	background:url('../images/sum.png') no-repeat;
}
.icon-tip{
	background:url('../images/tip.png') no-repeat;
}

.icon-mini-add{
	background:url('../images/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('../images/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('../images/mini_refresh.png') no-repeat 3px 2px;
}